/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Overpass+Mono:wght@300..700&display=swap');

$primary: #0099cc !default;

// fonts
$presentation-font-size-root: 40px;
$code-block-font-size: 1.1rem;
$font-family-sans-serif: "PT Sans" !default;
$font-family-monospace: "Overpass Mono";

// colors
$body-bg: #e1f6ff !default;
$code-block-bg: #F7F7F7 !default;
$code-block-border-color: $code-block-bg !default;
$selection-bg: $primary !default;
$body-color: #333333 !default;
$link-color: $primary !default;

// headings
$presentation-heading-font: "PT Sans" !default;
$presentation-heading-color: $primary !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.5em;
}

p, li {
  vertical-align: baseline;
  font-size: 1.5rem;
}

.reveal p code {
  display: inline-block;
  border-radius: 10px;
}
