/*-- scss:defaults --*/

$primary: #0099FF !default;
$secondary: #FF0000 !default;
$neutral: #5E5E5E !default;
$neutral-light: #999 !default;
$chapter-number-color: #6d7a86 !default;
$line-color: #DEE2E6 !default;
$background-color: #f8f9fa !default;

$callout-icon-scale: -10%;
$callout-note-color: #0099FF !default;
$callout-tip-color: #3fb618 !default;
$callout-caution-color: #f0ad4e !default;
$callout-warning-color: #ff7518 !default;
$callout-important-color: #FF0000 !default;

$font-family-body: "Luciole";
$font-family-monospace: "Fira Code";
// $font-size-root: 0.98rem !default;

$grid-sidebar-width: 0px !default;
$grid-body-width: 950px !default;
$grid-margin-width: 450px !default;

/*-- scss:rules --*/

p.subtitle.lead {
  font-size: 24px;
  color: $primary;
}

body {
  font-family: $font-family-body;
  text-align: justify !important;
}

.cb1 {
  font-weight: bold;
  color: $primary;
}

.cb2 {
  font-weight: bold;
  color: $secondary;
}

.nb {
  font-weight: bold;
  color: $neutral-light;
}

.nc {
  font-family: $font-family-monospace;
  font-size: $font-size-root - 1;
  font-weight: 500;
  color: $neutral;
  background-color: $background-color;
}

.str {
  font-family: $font-family-monospace;
  font-size: $font-size-root - 1;
  font-weight: 500;
  color: #20794D;
  background-color: $background-color;
}

.dig {
  font-family: $font-family-monospace;
  font-weight: 500;
  color: #AD0000;
  background-color: $background-color;
}

.sm-em {
  font-size: $font-size-root - 2;
  font-style: italic;
}

div.callout.callout {
  border-top-color: #F0F0F0;
  border-right-color: #F0F0F0;
  border-bottom-color: #F0F0F0;
}

div.callout-title-container {
  font-size: $font-size-root;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
  padding-right: 1.3rem;
}

div.callout-body {
  padding-right: 1.3rem;
  color: $neutral;
}

.callout:not(.no-icon).callout-titled.callout-style-simple .callout-body {
  padding-left: 1.75rem;
}

div.callout-note.callout {
  border-left-color: lighten($callout-note-color, 10%);
  background-color: lighten($callout-note-color, 48%);
}

div.callout-note.callout-titled .callout-header {
  color: $callout-note-color;
}

div.callout-tip.callout {
  background-color: lighten($callout-tip-color, 57%);
}

div.callout-tip.callout-titled .callout-header {
  color: darken($callout-tip-color, 5%);
}

div.callout-caution.callout {
  background-color: lighten($callout-caution-color, 33%);
}

div.callout-caution.callout-titled .callout-header {
  color: darken($callout-caution-color, 20%);
}

div.callout-warning.callout {
  background-color: lighten($callout-warning-color, 41%);
}

div.callout-warning.callout-titled .callout-header {
  color: darken($callout-warning-color, 10%);
}

div.callout-important.callout {
  border-left-color: $callout-important-color;
  background-color: lighten($callout-important-color, 48%);
}

div.callout-important.callout-titled .callout-header {
  color: $callout-important-color;
}

.callout.callout-style-simple .callout-icon::before,
.callout.callout-style-simple .callout-toggle::before {
  height: 1.2rem;
  width: 1.2rem;
  background-size: 1.2rem;
  margin-top: 0.3rem;
}

.nav-tabs {
  margin-top: 2rem;
}

.tab-content {
  background-color: #FFFFFF;
  margin-bottom: 2rem;
}

h2#toc-title {
  font-size: $font-size-root;
  font-weight: bold;
}

#title-block-header {
  font-size: 1.1rem;
}

div#quarto-margin-sidebar {
  text-align: left;
  padding-left: 1rem;
  border-left: 1px solid #F1F1F1;
  background-color: lighten($primary, 48%);
  scrollbar-width: thin;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] > ul {
  margin-bottom: 1.6rem;
}

.sidebar nav[role=doc-toc] > ul a {
  border-left: 1px solid lighten($primary, 40%);
}

.sidebar nav[role=doc-toc] > ul li a {
  padding-top: 0.4rem;
}

.sidebar nav[role=doc-toc] ul > li > a.active,
.sidebar nav[role=doc-toc] ul > li > ul > li > a.active {
  font-weight: bold;
  border-left-width: 3px;
}

h1, h2, h3 {
  color: $primary;
}

h2, h3, h4, h5 {
  margin-top: 1.5em;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  border-bottom: 1px solid $line-color;
  padding-bottom: 0.3rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

h3 {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
}

h4 {
  margin-left: 2rem;
  font-size: 1.1rem;
}

h5 {
  margin-top: 1.5em;
  margin-left: 2.5rem;
  font-size: 1rem;
}

.quarto-section-identifier {
  font-weight: normal;
  color: $neutral;
}

div[data-code-filename] summary {
  font-family: $font-family-monospace !important;
  font-weight: 500;
}

div.sourceCode {
  background-color: $background-color;
}

code.sourceCode, pre code {
  font-family: $font-family-monospace;
  font-weight: 500;
}

pre code:not(.sourceCode) {
  background-color: $background-color;
}

pre code {
  color: $neutral;
}

code {
  font-family: $font-family-monospace;
  font-size: $font-size-root - 1;
  font-weight: 500;
  color: $primary;
}

code span.do {
  font-style: inherit;
}

code span.op {
  color: $neutral;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: $line-color;
}

.figure-img {
  margin-bottom: 0.8rem;
}

.quarto-float-caption {
  font-size: 0.95rem;
  font-weight: bold;
  line-height: 1.5;
  color: #111;
}

.quarto-float-subcaption {
  font-weight: normal;
  font-size: 0.85rem;
  color: $neutral;
}

figure.quarto-float-fig {
  padding-bottom: 1em;
}

figure.quarto-float-tbl figcaption.quarto-float-caption-top {
  margin-top: 2em;
  margin-bottom: 0.15rem;
  text-align: left;
}

.gslide-desc {
  font-weight: bold;
}

div.csl-right-inline {
  padding-left: 0;
  padding-bottom: 0.5em;
}
